.catalog {
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: $table-width) {
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 41px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $secondary-color;

  @media (min-width: $table-width) {
    margin-bottom: 82px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
  }
}

.catalog__list {
  @include resseting-lists;
  margin: auto;
  max-width: 320px;

  @media (min-width: $table-width) {
    display: grid;
    grid-template-columns: 320px 320px;
    column-gap: 60px;
    row-gap: 60px;
    max-width: 100%;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 63px;
  }
}
