.container {
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: $mobile-width-only) {
  .container {
    max-width: 728px;
  }
}

@media (min-width: $table-width) {
  .container {
    padding: 0;
    max-width: 710px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0;
    max-width: 1220px;
  }
}
