.form__info {
  margin: 0;
  margin-bottom: 39px;
  max-width: 226px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $secondary-color;

  @media (min-width: $table-width) {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
    max-width: 323px;
  }
}

.form__item-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 1220px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__section-programm {
  border-top: 1px solid $decorate-line;
  border-bottom: 1px solid $decorate-line;

  @media (min-width: $table-width) {
    border: none;
  }
}

.form__data {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  border: none;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.form__data-label {
  margin-bottom: 13px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__data-info {
  margin-right: 13px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $table-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__data-input {
  padding: 13px 13px 15px;
  border: 1px solid $input-border-color;
  width: 100%;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &:hover {
    border-color: $rare-second-leght-gray;
  }

  &:focus {
    border-color: $primary-color;
  }

  &:invalid {
    border-color: $error-color;
  }

  @media (min-width: $table-width) {
    font-size: 20px;
    line-height: 30px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form__programm {
  margin: 0;
  padding-top: 22px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 19px;
  border: none;

  @media (min-width: $table-width) {
    margin-bottom: 71px;
    padding-top: 25px;
    padding-left: 28px;
    padding-bottom: 25px;
    border: 1px solid $input-border-color;
  }

  @media (min-width: $desktop-width) {
    padding-top: 29px;
    padding-right: 28px;
    padding-bottom: 29px;
    padding-left: 28px;
    width: 570px;
  }
}

.form__programm-label {
  margin-right: 45px;
  margin-bottom: 19px;
  padding-left: 45px;
  position: relative;
  display: block;
  min-height: 30px;
  cursor: pointer;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
    padding-left: 60px;
    min-height: 40px;
  }
}

.form__programm-radio {
  margin: 0;

  @media (min-width: $table-width) {
    margin-right: 20px;
  }
}

.form__programm-mark {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: -7px;
  left: 0;
  border: 1px solid $rare-second-leght-gray;
  border-radius: 50%;

  @media (min-width: $table-width) {
    top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 40px;
    height: 40px;
  }
}

.form__programm-radio[type="radio"]:checked + .form__programm-mark::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 7px;
  right: 7px;
  background-color: $second-element-bg;
  border-radius: 50%;

  @media (min-width: $desktop-width) {
    width: 18px;
    height: 18px;
    top: 10px;
    right: 10px;
  }
}

.form__programm-name {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: $secondary-dark;

  @media (min-width: $table-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;
  }
}

.form__section-contact {
  padding-top: 26px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 40px;
    left: 0;
    background-color: $second-element-bg;
  }

  @media (min-width: $table-width) {
    &::before {
      top: 47px;
    }
  }
}

.form__contact {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  border: none;

  @media (min-width: $table-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    display: flex;
    justify-content: space-between;
  }
}

.form__contact-subtitle {
  margin-bottom: 35px;
  margin-left: -23px;
  padding-left: 23px;
  padding-right: 23px;
  position: relative;
  display: inline-block;
  background-color: $secondary-white;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: $secondary-color;

  @media (max-width: $mobile-width-only) {
    max-width: 228px;
  }

  @media (min-width: $table-width) {
    margin-left: -42px;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.form__contact-label {
  margin-bottom: 15px;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--email {
    &::before {
      background-image: url("../img/icons/icon-email.svg");
    }
  }

  &--phone {
    &::before {
      background-image: url("../img/icons/icon-phone.svg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.form__contact-info {
  margin-right: 11px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $table-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__contact-input {
  padding: 13px 13px 15px 15px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
  border: 1px solid $rare-second-leght-gray;

  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  @media (min-width: $table-width) {
    font-size: 20px;
    line-height: 30px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form__section-comment {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 15px;
    left: 0;
    background-color: $second-element-bg;
  }

  @media (min-width: $table-width) {
    &::before {
      top: 21px;
    }
  }
}

.form__сomment {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  border: none;

  @media (min-width: $table-width) {
    margin-bottom: 65px;
  }
}

.form__comment-subtitle {
  margin-bottom: 37px;
  margin-left: -23px;
  padding-left: 23px;
  padding-right: 23px;
  position: relative;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: $secondary-color;
  background-color: $secondary-white;

  @media (min-width: $table-width) {
    margin-bottom: 76px;
    margin-left: -42px;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 36px;
    line-height: 36px;
  }
}

.form__comment-description {
  padding: 15px 12px 15px 15px;
  border: 1px solid $input-border-color;
  width: 100%;
  height: 150px;
  resize: none;

  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
  }

  @media (min-width: $table-width) {
    font-size: 20px;
    line-height: 30px;
    height: 174px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form__section-additionally {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 15px;
    left: 0;
    background-color: $second-element-bg;
  }

  @media (min-width: $table-width) {
    &::before {
      top: 21px;
    }
  }
}

.form__additionally {
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
  border: none;

  @media (min-width: $table-width) {
    margin-bottom: 54px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
  }
}

.form__additionally-subtitle {
  margin-bottom: 34px;
  margin-left: -23px;
  padding-left: 23px;
  padding-right: 23px;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: $secondary-color;
  background-color: $secondary-white;

  @media (min-width: $table-width) {
    margin-bottom: 57px;
    font-size: 36px;
    line-height: 36px;
  }
}

.form__additionally-input {
  margin-right: 16px;

  @media (min-width: $table-width) {
    margin-right: 19px;
  }
}

.form__additionally-mark {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: -6px;
  left: 0;
  border: 1px solid $rare-second-leght-gray;

  @media (min-width: $table-width) {
    top: 0;
  }
}

.form__additionally-input[type="checkbox"]:checked + .form__additionally-mark::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  background-image: url("../img/icons/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__additionally-label {
  padding-left: 45px;
  margin-bottom: 26px;
  position: relative;
  display: block;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $table-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
  }
}

.form__additionally-name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: $secondary-color;

  @media (min-width: $table-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__button {
  margin-bottom: 21px;
  width: 100%;
  display: block;

  @media (min-width: $table-width) {
    margin-right: 61px;
    display: inline-block;
    max-width: 282px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 81px;
    margin-bottom: 0;
    max-width: 568px;
  }
}

.form__hint {
  margin: 0;
  line-height: 16px;
  text-align: center;
  color: $secondary-color;

  @media (min-width: $table-width) {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
  }
}
