.intro {
  padding-top: 27px;
  background-color: $secondary-gray;
  background-image: linear-gradient($section-bg, $section-bg), url("../img/index/intro-bg-cat.png");
  background-position: center;
  background-repeat: no-repeat;
}

.intro__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: $secondary-white;
  text-align: center;
}

.intro__subtitle {
  margin: 0;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: $secondary-white;
}
