.intro {
  padding-top: 27px;
  position: relative;

  @media (max-width: $mobile-width-only) {
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      min-height: 315px;
      right: 0;
      top: 0;
      background-image: url("../img/index/intro-mobile-bg.png");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }


  @media (min-width: $desktop-width) {
    padding-top: 32px;
  }
}

.intro__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    height: 696px;
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: $secondary-white;
  text-align: center;

  @media (min-width: $table-width) {
    margin-bottom: 41px;
    padding-right: 100px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: $secondary-color;
  }

  @media (min-width: $desktop-width) {
    margin-top: 82px;
    padding-right: 0;
    max-width: 430px;
  }
}

.intro__subtitle {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: $secondary-white;

  @media (min-width: $table-width) {
    margin-bottom: 49px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: $secondary-color;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    max-width: 285px;
  }
}

.into__wrapper-image {
  margin: 0 auto;
  width: 280px;

  @media (min-width: $table-width) {
    margin-bottom: -75px;
    order: 2;
    position: relative;
    top: -75px;
    width: 710px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    top: 0;
  }
}

.intro__image {
  display: block;
  height: auto;
  width: 100%;

  @media (min-width: $table-width) {
    padding-right: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.intro__link {
  padding-right: 10px;
  padding-left: 10px;
  display: block;
  text-align: center;

  @media (min-width: $table-width) {
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
    max-width: 304px;
  }
}
