.shop-address {
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $table-width) {
    background-color: $secondary-white;
  }
}

.shop-address__detail {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 320px;

  @media (min-width: $table-width) {
    max-width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding: 56px 80px;
    width: 565px;
  }
}

.shop-address__info {
  margin: 0;
  width: 140px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $rare-dark;

  @media (min-width: $table-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.shop-address__address {
  margin: 0;
  width: 140px;
  line-height: 20px;

  @media (min-width: $table-width) {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}
