@import "variables.scss";

.button {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Oswold", sans-serif;
  background-color: #68b738;
  color: $secondary-white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
