@import "variables.scss";

.button {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Oswald", sans-serif;
  background-color: #68b738;
  color: $secondary-white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $effect-color;
  }

  &:active {
    color: $efferct-opacity;
  }
}
