.header {
  padding-top: 10px;
  padding-bottom: 18px;
  background-color: #ffffff;
}

.header__navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__navigation-link {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
}
